name: Ruff (main)

on:
  push:
    branches:
      - main

jobs:
  ruff:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Official Ruff action with badge update.
      - uses: astral-sh/ruff-action@v3
        with:
          src: "./src"
          output-format: "github"
          upload-artifact: false
          update-badge: true
